
<h1>This is the (<strong><%= @entertainment.name %></strong>) entertainment show page!</h1>

<b>Address:</b><br>
<%= @entertainment.address %><br>
<br>
<b>Rating:</b><br>
<p><%= @entertainment.rating %></p><br>
<b>Description:</b>
<%= @entertainment.description %><br>
<br>
<b>Reviews:</b></br>
<% @entertainment.entertainment_reviews.each do |entertainment_review| %>
    <ul>
    <b><%= entertainment_review.user.username %></b><br>
    <br>
    <%= entertainment_review.user_review %>
    </ul>
<% end %>
