<div class="welcome">
<h1>This is the <strong><%= @restaurant.name %></strong> restaurant show page!</h1>

<b>Address:</b>
<div class="text_color"><%= @restaurant.address %><br></div>
<br>
<b>Rating:</b>
<div class="text_color"><%= @restaurant.rating %><br></div>
<b>Description:</b>
<div class="text_color"><%= @restaurant.description %><br></div>
<br>
<b>Reviews:</b></br>
<% @restaurant.restaurant_reviews.each do |restaurant_review| %>
    <ul>
    <b><%= restaurant_review.user.username %></b>
    <div class="text_color"><%= restaurant_review.user_review %></div>
    </ul>
<% end %>

<h2>Have you been here? Leave a review: </h2>

    <%= form_for @restaurant_review do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
        <%= f.text_area :user_review %><br>
        <%= f.submit%>
    <% end %>
</div>