<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <img class="logo" src="/assets/3amigos.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="http://localhost:3000/destinations">Destinations</a></li>
                <li>
                    <a href="http://localhost:3000/restaurants">Restaurants</a>
                </li>
                <li><a href="http://localhost:3000/entertainments">Entertainment</a></li>
            </ul>
        </nav>
        <a class="cta" href="http://localhost:3000/users/new"><button>Signup!</button></button></a>
    </header>
</body>

</html>
    <%= yield %>
  </body>
</html>
